<!DOCTYPE html>
<html>
<head>
    <title>BS Backups - Cancelamento da Conta</title>
</head>
<body>
    <table width="100%" bgcolor="#f4f4f4" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <table align="center" width="600" cellpadding="0" cellspacing="0" style="border-collapse: collapse; margin: 20px auto; background: #ffffff; font-family: Arial, sans-serif;">
                    <tr>
                        <td style="padding: 20px; text-align: center; background: #a929e6;">
                            <img src="https://app.bsbackups.com.br/static/media/logo-bs-light.0382d75ce2398b884d88.png" alt="Logo" width="200px"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px;">

                            <p><strong>{{ name }} - {{email}} </strong> solicitou o cancelamento da conta!</p><br/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
