<!DOCTYPE html>
<html>
<head>
    <title>Bem-vindo ao BS Backups - Suas informações de acesso</title>
</head>
<body>
    <table width="100%" bgcolor="#f4f4f4" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <table align="center" width="600" cellpadding="0" cellspacing="0" style="border-collapse: collapse; margin: 20px auto; background: #ffffff; font-family: Arial, sans-serif;">
                    <tr>
                        <td style="padding: 20px; text-align: center; background: #a929e6;">
                            <img src="https://app.bsbackups.com.br/static/media/logo-bs-light.0382d75ce2398b884d88.png" alt="Logo" width="200px"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px;">
                            <p>Prezado(a) {{ name }},</p>
                            <p>Seja bem-vindo(a) ao BS Backups! Estamos felizes em tê-lo(a) como parte da nossa comunidade de proteção de dados. Este é um passo importante para garantir a segurança e a integridade das suas informações valiosas.</p>
                            <p>Aqui estão suas informações de acesso para começar a utilizar o BS Backups:</p>
                            <ul>
                                <li><strong>Email:</strong> {{ email }}</li>
                                <li><strong>Senha:</strong> {{ password }}</li>
                                <li><strong>Acesso:</strong> <a href="https://app.bsbackups.com.br/login">https://app.bsbackups.com.br/login</a></li>
                            </ul>

                            <p>Se você tiver alguma dúvida, preocupação ou precisar de assistência, nossa equipe de suporte estará pronta para ajudar. Basta entrar em contato através dos canais de suporte indicados em nosso site.</p>
                            <p>Lembre-se de que a segurança dos seus dados é nossa principal prioridade. Mantenha suas informações de acesso em sigilo e evite compartilhá-las com outras pessoas.</p>
                            <p>Obrigado por escolher o BS Backups para suas necessidades de proteção de dados. Esperamos que você tenha uma experiência positiva ao utilizar nossa plataforma.</p>
                            <p>Atenciosamente,<br><br>Equipe BlueSky Softwares<br>[21 2018-5021]<br><a href="https://bsbackups.com.br">bsbackups.com.br</a></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
